@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1600px;
    margin-top: 75px;
}

section {
    width: 100%;
    height: fit-content;
    display: flex;
    margin: auto;
}

.btnLight,
.btnLightOutline,
.btnRedOutline {
    background-color: #fff;
    color: #000;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    border: none;
    outline: none;
}

.btnLightOutline {
    padding: 10px 23px;
    border: 2px solid #000;
}

.btnRedOutline{
    padding: 10px 23px;
    border: 2px solid red;
    color: red;
}

.btnDark {
    background-color: #000;
    color: #fff;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    border: none;
    outline: none;
}

.error {
    color: red !important;
}

@media only screen and (max-width: 900px) {
    main {
        width: 100%;
    }
}