*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbarLinks{
    padding: 10px 15px;
}
.navbarLinks a{
    color: #000;
}
