.groupsSec {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.groupsSec h1 {
    font-size: 28px;
    margin-top: 15px;
}

.groupsCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.groupMain {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.groupMain img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.groupRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 20px 20px;
    width: 600px;
}

.groupRight p {
    padding: 4px 0;
}

.groupMainError {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
}

@media only screen and (max-width: 900px) {
    .groupsSec {
        width: 90%;
    }

    .groupMain {
        flex-direction: column;
    }

    .groupMain img {
        width: 100%;
    }

    .groupsSec .btnDark {
        margin: 20px 0;
    }

    .groupRight {
        width: 100%;
    }
}