.hero{
    min-height: 400px;
}

.memSec {
    width: 100%;
    min-height: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e2e2e2;
    color: #000;
    border-radius: 10px;
    margin: 20px 0;
    padding: 50px;
}

.memSec:not(:first-of-type){
    min-height: fit-content;
}

.memSec h2 {
    padding-bottom: 10px;
}

.memSec h2:not(:first-of-type){
    padding-top: 20px;
}