header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}

header .btnDark a {
    color: #fff;
    font-size: 15px;
}

.headerLogos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogo {
    margin: auto 0;
}

.headerLogo img {
    width: 150px;
    height: auto;
    padding: 5px 0;
}

.headerLogoIcon img {
    width: 30px;
    height: auto;
    padding: 5px 0;
}

.headerLinks {
    padding: 10px 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.headerLinks li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

.headerLinks a {
    color: #000;
}

@media only screen and (max-width: 700px) {
    header {
        padding: 5px;
        font-size: 12px !important;
    }

    header .btnDark a {
        font-size: 12px;
    }

    .headerLogo {
        display: none;
    }

    .headerLinks {
        padding: 10px 0;
    }

    .headerLinks li {
        padding: 10px 7px;
    }
}